@media (min-width: 320px) and (max-width: 480px){
    .container{
        padding-right: 10px;
        padding-left: 10px;
    }
    .header{
        flex-direction: column;
        &__logo{
            margin-bottom: 30px;
        }
        &__official{
            margin-bottom: 10px;
            font-size: 16px;
            span{
                font-size: 24px;
            }
        }
        &__contacts{
            align-items:center
        }
    }
    .promo{
        background: url('../img/promo_sm.jpg') center (center/cover) no-repeat;
        &__wrapper{
            margin-top: 60px;
            align-items: center;
        }
        &__header{
            font-size: 24px;
            line-height: 27px;
            text-align: center;
        }
        &__subheader{
            font-size: 15px;
            line-height: 16px;
            text-align: center;
        }
        &__icons{
            width: 100%;
            margin-top: 40px;
            align-items: center;
        }
        &__icon{
            margin-bottom: 10px;
            font-size: 12px;
            img{
                margin-bottom: 10px;
            }
        }
    }
    .advantages{
        &__icons{
            flex-direction: column;
            align-items: center;
        }
        &__icon{
            width: 80%;
            margin-bottom: 30px;
            img{
                margin-bottom: 10px;
            }
            span{
                margin-bottom: 10px;
            }
        }
    }
    .consultation{
        &__descr{
            text-align: center;
        }
        .title{
            &_left{
                text-align: center;
                font-size: 30px;
             }
        }
    }
    .feed-form{
        margin: 0 auto;
    }
    .carousel{
        .prev, .next{
            display: none;
        }
        &__inner{
            img{
                width: 100%;
            }
        }
    }
    section.carousel{
        padding: 40px 0;
    }
    .catalog{
        &__tabs{
            flex-direction: column;
        }
    }
    .catalog__tabs .catalog__tab{
        margin-bottom: 10px;
        transform: skewX(0deg);
        div{
            transform: skewX(0deg); 
        }
    }
    .feed{
        .feed__item{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .feed__img{
            margin-right: 0;
            margin-bottom: 30px;
        }
        &__content{
            padding: 0 10px;
        }
        &__title, &__subtitle{
            text-align: center;
        }
    }
    .footer{
        .footer__info{
            position: relative;
            width: 100%;
            // top: -6px;
            left: 0;
        }
    }
    .overlay{
        position: relative;
        .modal{
            position: relative;
            width: 100%;
            padding: 40px 0;
           &__close{
               right: 12px;
               top: 12px;
           }
           
        }
    }
}

@media (min-width: 480px) and (max-width: 768px){
    .container{
        padding-right: 10px;
        padding-left: 10px;
    }
    .header{
        &__official{
           display: none;
       }
    }
    .promo{
        background: url('../img/promo_sm.jpg') center (center/cover) no-repeat;
        &__wrapper{
            align-items: center;
        }
        &__header{
            font-size: 38px;
            line-height: 38px;
        }
        &__subheader{
            font-size: 20px;
            line-height: 20px;
        }
        &__icons{
            margin-top: 40px;
        }
    }
    .advantages{
        &__icons{
            flex-direction: column;
            align-items: center;
        }
        &__icon{
            width: 80%;
            margin-bottom: 30px;
            img{
                margin-bottom: 10px;
            }
            span{
                margin-bottom: 10px;
            }
        }
    }
    .consultation{
        &__descr{
            text-align: center;
        }
        .title{
            &_left{
                text-align: center;
                font-size: 30px;
             }
        }
    }
    .feed-form{
        margin: 0 auto;
    }
    .carousel{
        .prev, .next{
            display: none;
        }
        &__inner{
            img{
                width: 100%;
            }
        }
    }
    section.carousel{
        padding: 40px 0;
    }
    .catalog{
        &__tabs{
            flex-direction: column;
        }
    }
    .catalog__tabs .catalog__tab{
        margin-bottom: 10px;
        transform: skewX(0deg);
        div{
            transform: skewX(0deg); 
        }
    }
    .feed{
        .feed__item{
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .feed__img{
            margin-right: 0;
            margin-bottom: 30px;
        }
        &__content{
            padding: 0 20px;
        }
        &__title, &__subtitle{
            text-align: center;
        }
    }
    .footer{
        .footer__info{
            position: relative;
            width: 100%;
            // top: -6px;
            left: 0;
        }
    }
    
}

@media (min-width: 768px) and (max-width: 1024px){
    .container{
        padding-right: 10px;
        padding-left: 10px;
    }
    .promo{
        &__wrapper{
            align-items: center;
        }
        &__icons{
            margin-top: 40px;
        }
    }   
    .consultation{
        &__descr{
            text-align: center;
        }
        .title{
            &_left{
                text-align: center;
             }
        }
    }
    .feed-form{
        margin: 0 auto;
    }
    .carousel{
        .prev, .next{
            display: none;
        }
        &__inner{
            img{
                width: 70%;
            }
        }
    }
    section.carousel{
        padding: 60px 0;
    }
    .footer{
        .footer__info{
            position: relative;
            width: 100%;
            // top: -6px;
            left: 0;
        }
    }
    
}

@media (min-width: 1024px){
 .carousel{
    .tns-outer{
        .tns-nav{
            button{
                display: none;
            }
        }
    }
 }
.catalog .catalog__content{
    justify-content: center;
}
.catalog .catalog__content .catalog-item{
    margin: 0 8px 20px 8px;
}
}


